<main id="main">
    <section class="files">

        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do diretório</a></p>
        </div>

        <!--  files      -->
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>
        <div class="file">
            <a href="">icone</a>
            <p><a href="">Nome do arquivos</a></p>
        </div>

    </section>
</main>